@model PROINSA_GP_WEB.Entidad.AprobacionViewModel

@{
    ViewBag.Title = "ConsultarAprobDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idEmpleado = ViewBag.ID_EMPLEADO;
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Desarrollo personal / Solicitudes / Crear una solicitud / </span> Registrar permiso </h4>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="card mb-4">
                <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Datos para la gestión del permiso:</h5>
                <div class="card-body">
                    @using (Html.BeginForm("Aprobaciones", "Aprobaciones", FormMethod.Post, new { id = "miFormulario" }))
                    {
                        if (Model.AprobacionDetalles != null)
                        {
                            for (int i = 0; i < Model.AprobacionDetalles.Count; i++)
                            {
                                var item = Model.AprobacionDetalles[i];
                                @Html.Hidden($"AprobacionDetalles[{i}].ID_SOLICITUD", item.ID_SOLICITUD)
                                if (item.TIPOPERMISO == "CAMBIO DE HORARIO")
                                {
                                    <div class="row">
                                       
                                        <div class="col-md-2">
                                            <div class="mb-3">
                                                @Html.Label("N° de Solicitud")
                                                @Html.Hidden($"AprobacionDetalles[{i}].ID_SOLICITUD", item.ID_SOLICITUD)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_SOLICITUD, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="mb-3">
                                                @Html.Label("Tipo de Permiso")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].TIPOPERMISO, new { @class = "form-control", @type = "text", @readonly = "true", @style="text-align:center;"})
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @Html.Label("Identificación")
                                                @Html.Hidden($"AprobacionDetalles[{i}].ID_SOLICITANTE", item.ID_SOLICITANTE)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_SOLICITANTE, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @Html.Label("Nombre del empleado")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].SOLICITANTE, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @Html.Label("Horario actual:")
                                                @Html.Hidden($"AprobacionDetalles[{i}].HORARIO_ACTUAL", item.HORARIO_ACTUAL)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].HORARIO_ACTUAL, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @Html.Label("Horario nuevo:")
                                                @Html.Hidden($"AprobacionDetalles[{i}].HORARIO_NUEVO", item.HORARIO_NUEVO)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].HORARIO_NUEVO, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>

                                            <div class="mb-3">

                                                @Html.Hidden($"AprobacionDetalles[{i}].ID_EMPLEADO", item.ID_EMPLEADO)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_EMPLEADO, new { @class = "form-control", @hidden = "true" })
                                            </div>



                                           
                                        </div>
                                    </div>
                                }
                                else if (item.TIPOPERMISO == "VACACIONES")
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="mb-3">
                                                @Html.Label("N° de Solicitud")
                                                @Html.Hidden($"AprobacionDetalles[{i}].ID_SOLICITUD", item.ID_SOLICITUD)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_SOLICITUD, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="mb-3">
                                                @Html.Label("Tipo de Permiso")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].TIPOPERMISO, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @Html.Label("Identificación")
                                                @Html.Hidden($"AprobacionDetalles[{i}].ID_SOLICITANTE", item.ID_SOLICITANTE)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_SOLICITANTE, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @Html.Label("Nombre del empleado")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].SOLICITANTE, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="mb-3">
                                                @Html.Label("Fecha Inicio")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].FECHA_INICIO, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="mb-3">
                                                @Html.Label("Fecha Final")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].FECHA_FINAL, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">
                                                @Html.Label("Dias")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].DIAS, new { @class = "form-control", @type = "int", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                            <div class="mb-3">

                                                @Html.Hidden($"AprobacionDetalles[{i}].ID_EMPLEADO", item.ID_EMPLEADO)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_EMPLEADO, new { @class = "form-control", @hidden = "true" })
                                            </div>

                                        </div>
                                    </div>
                                }
                                else if (item.TIPOPERMISO == "INCAPACIDAD" || item.TIPOPERMISO == "PERMISO ESPECIAL")
                                {
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                @Html.Label("N° de Solicitud")
                                                @Html.Hidden($"AprobacionDetalles[{i}].ID_SOLICITUD", item.ID_SOLICITUD)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_SOLICITUD, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                @Html.Label("Tipo de Permiso")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].TIPOPERMISO, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                @Html.Label("Comprobante")
                                                <button class="btn btn-primary" style="width:300px" type="button">Descargar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @Html.Label("Identificación")
                                                @Html.Hidden($"AprobacionDetalles[{i}].ID_SOLICITANTE", item.ID_SOLICITANTE)
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_SOLICITANTE, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @Html.Label("Nombre del empleado")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].SOLICITANTE, new { @class = "form-control", @type = "text", @readonly = "true", @style = "text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="mb-3">
                                                @Html.Label("Fecha Inicio:")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].FECHA_INICIO, new { @class = "form-control", @type = "text", @readonly = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="mb-3">
                                                @Html.Label("Fecha Final:")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].FECHA_FINAL, new { @class = "form-control", @type = "text", @readonly = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">
                                                @Html.Label("Dias:")
                                                @Html.TextBoxFor(m => m.AprobacionDetalles![i].DIAS, new { @class = "form-control", @type = "int", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            @Html.Label("Comentario:")
                                            @Html.TextAreaFor(m => m.AprobacionDetalles![i].COMENTARIO, new { @class = "form-control", @type = "text", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            @Html.Label("Detalle:")
                                            @Html.TextAreaFor(m => m.AprobacionDetalles![i].DETALLE, new { @class = "form-control", @type = "text", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        @Html.Label("Justificacion:")
                                        @Html.TextAreaFor(m => m.AprobacionDetalles![i].JUSTIFICACION, new { @class = "form-control", @type = "text", @required="true" })
                                    </div>

                                    <div class="mb-3">
                                        @Html.Hidden($"AprobacionDetalles[{i}].ID_EMPLEADO", item.ID_EMPLEADO)
                                        @Html.TextBoxFor(m => m.AprobacionDetalles![i].ID_EMPLEADO, new { @class = "form-control", @hidden = "true" })
                                    </div>


                                </div>
                                @Html.HiddenFor(m => m.AprobacionDetalles![i].RESPUESTASOLICITUD, new { id = $"respuestaSolicitud_{i}" })
                                <div style="text-align:center;">
                                    <button class="btn btn-primary mt-4" style="width:300px" onclick="setRespuesta('A', 'respuestaSolicitud_@i')" type="submit" id="submitButton">Aprobar</button>
                                    <button class="btn btn-primary mt-4" style="width:300px" onclick="setRespuesta('R', 'respuestaSolicitud_@i')" type="submit" id="submitButton">Rechazar</button>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No hay solicitudes pendientes de aprobación</p>
                        }      
                        

                    }
                </div>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#dataTable2" aria-expanded="false" aria-controls="dataTable2">
                    Flujo de aprobaciones
                </button>
                <div class="collapse" id="dataTable2">
                    <div class="d-grid d-sm-flex p-3 border">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 w-100">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="table-responsive-sm">
                                        @if (Model.AprobacionFlujos != null)
                                        {
                                            <table id="dataTable" class="table table-bordered dataTable text-center" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                                                <thead>
                                                    <tr>
                                                        <th>RESPONSABLE</th>
                                                        <th>DEPARTAMENTO</th>
                                                        <th>SECUENCIA</th>
                                                        <th>RESPUESTA</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.AprobacionFlujos)
                                                    {
                                                        <tr>
                                                            <td>@item.NOMBRE_ENCARGADO</td>
                                                            <td>@item.DEPARTAMENTO</td>
                                                            <td>@item.SECUENCIA</td>
                                                            <td>@item.RESPUESTA_SOLICITUD</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <p>No hay solicitudes pendientes de aprobación</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function setRespuesta(respuesta, fieldId) {
        document.getElementById(fieldId).value = respuesta;
    }
</script>