@model List<PROINSA_GP_WEB.Entidad.Usuario>
@{
    ViewBag.Title = "AdministrarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administrativo / Administrar cuentas /</span> Usuarios</h4>

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Bootstrap Table -->
        <div class="card">
            <h5 class="card-header">Usuarios registrados</h5>
            @using (Html.BeginForm("AdministrarUsuarios", "Usuarios", FormMethod.Post))
            {
                @if (Model != null && Model.Any())
                {
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                        <th>Nombre completo</th>
                                        <th>Rol</th>
                                        <th>Departamento</th>
                                        <th>Puesto</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                               @foreach (var item in Model)
                                {
                                    <tr>
                                
                                            <td>
                                                @item.NOMBRECOMPLETO
                                            </td>
                                            <td>
                                                @item.NOMBREROL
                                            </td>
                                            <td>
                                                @item.DEPARTAMENTO
                                            </td>
                                            <td>
                                                @item.CARGO
                                            </td>
                                            <td>
                                                @item.ESTADO
                                            </td>
                                            <td>
                                            <a class="btn btn-outline-info" asp-action="MantenimientoUsuario" asp-route-id="@item.ID_EMPLEADO">Actualizar<i class="bi bi-pen"></i></a> |

                                            <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="">Desactivar</a>
                                           
                                                    <!-- CREAR UN MODAL PARA LA HORA DE ELIMINAR-->
            
                                             </td>
                                  
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>No hay usuarios registrados aun</p>
                }
            }
        </div>
        <!--/ Basic Bootstrap Table -->
    </div>
</div>
<!-- Content wrapper -->