@model List<PROINSA_GP_WEB.Entidad.Usuario>
@{
    ViewBag.Title = "AdministrarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administrativo / Administrar cuentas /</span> Usuarios</h4>

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Bootstrap Table -->
        <div class="card">
            <h5 class="card-header">Usuarios registrados</h5>
            @using (Html.BeginForm("AdministrarUsuarios", "Usuarios", FormMethod.Post))
            {
                @if (Model != null && Model.Any())
                {
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                        <th>Nombre completo</th>
                                        <th>Rol</th>
                                        <th>Departamento</th>
                                        <th>Puesto</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                               @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                
                                            <td>
                                                    @Html.DisplayFor(m => m[i].NOMBRECOMPLETO, new { @class = "form-control", @readonly = "true" })
                                            </td>
                                            <td>
                                            @Html.DisplayFor(m => m[i].NOMBREROL, new { @class = "form-control", @readonly = "true" })
                                            </td>
                                            <td>
                                            @Html.DisplayFor(m => m[i].NOMBRE_DEPARTAMENTO, new { @class = "form-control", @readonly = "true" })
                                            </td>
                                            <td>
                                            @Html.DisplayFor(m => m[i].NOMBRE_CARGO, new { @class = "form-control", @readonly = "true" })
                                            </td>
                                            <td>
                                            @Html.DisplayFor(m => m[i].ESTADO, new { @class = "form-control", @readonly = "true" })
                                            </td>
                                            <td>
                                                    <a class="btn btn-primary" asp-action="Actualizar" asp-route-id="@Url.Action("MantenimientoUsuario","Usuarios")">Actualizar<i class="bi bi-pen"></i></a> |
                                            
                                                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="" asp-action="Eliminar">Eliminar</a>
                                           
                                                    <!-- CREAR UN MODAL PARA LA HORA DE ELIMINAR-->
            
                                             </td>
                                  
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>No hay usuarios registrados aun</p>
                }
            }
        </div>
        <!--/ Basic Bootstrap Table -->
    </div>
</div>
<!-- Content wrapper -->