@model PROINSA_GP_WEB.Entidad.Usuario
@{
    ViewBag.Title = "MantenimientoUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administrativo / Administrar cuentas / Usuarios /</span> Mantenimiento de usuarios</h4>

<div class="card mb-4">
    <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Actualizar información de un usuario</h5>
    <div class="card-body">
        @using (Html.BeginForm("MantenimientoUsuario", "Usuarios", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Identificacion del usuario")
                        @Html.TextBoxFor(m => m.IDENTIFICACION, new { @class = "form-control", onkeypress = "return ValidarNumeros(event)", @style = "text-align:center;", required = true })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("ID empleado")
                        @Html.TextBoxFor(m => m.ID_EMPLEADO, new { @class = "form-control", @readonly = "true", @style = "text-align:center;" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Nombre del usuario")
                        @Html.TextBoxFor(m => m.NOMBRECOMPLETO, new { @class = "form-control", @style = "text-align:center;", required = true })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Salario")
                        @Html.TextBoxFor(m => m.SALARIO, new { @class = "form-control", onkeypress = "return ValidarNumeros(event)", @style = "text-align:center;", required = true })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Correo Electrónico")
                        @Html.TextBoxFor(m => m.CORREO, new { @class = "form-control", @style = "text-align:center;", required = true })
                        @Html.HiddenFor(m => m.CORREO_ID)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Estado")
                        @Html.TextBoxFor(m => m.ESTADO, new { @class = "form-control", @readonly = "true", @style = "text-align:center;" })
                    </div>
                </div>
            </div>
            <!-- Codigo CARGO -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Cargo actual")
                        @Html.TextBoxFor(m => m.CARGO, new { @class = "form-control", @readonly = "true", @style = "text-align:center;" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Cargos disponibles")
                        @Html.DropDownListFor(m => m.ID_CARGO, new SelectList(ViewBag.CargoList, "Value", "Text"), new { @class = "form-control", @style = "text-align:center;" })
                    </div>
                </div>
            </div>
            <!-- Codigo HORARIO -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Horario actual")
                        @Html.TextBoxFor(m => m.NOMBRE_HL, new { @class = "form-control", @readonly = "true", @style = "text-align:center;" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Horarios disponibles")
                        @Html.DropDownListFor(m => m.ID_HORARIOLABORAL, new SelectList(ViewBag.HorarioList, "Value", "Text"), new { @class = "form-control", @style = "text-align:center;" })
                    </div>
                </div>
            </div>

            <!-- Codigo DEPARTAMENTO -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Departamento actual")
                        @Html.TextBoxFor(m => m.DEPARTAMENTO, new { @class = "form-control", @readonly = "true", @style = "text-align:center;" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Departamentos disponibles")
                        @Html.DropDownListFor(m => m.ID_DEPARTAMENTO, new SelectList(ViewBag.DepartamentoList, "Value", "Text"), new { @class = "form-control", @style = "text-align:center;" })
                    </div>
                </div>
            </div>

            <!-- Codigo TELEFONOS -->

            <div class="row">
                @if (Model.TELEFONOS != null && Model.TELEFONOS.Any())
                {
                    @for (int i = 0; i < Model.TELEFONOS.Count; i++)
                    {
                        <div class="mb-3 col-md-6">
                            @Html.HiddenFor(m => m.TELEFONOS![i].ID_TELEFONO, new { Name = $"TELEFONOS[{i}].ID_TELEFONO" })
                            @Html.Label("Telefono #" + (i + 1))
                            @Html.TextBoxFor(m => m.TELEFONOS![i].TELEFONO, new { @class = "form-control", onkeypress = "return ValidarNumeros(event)", @style = "text-align:center;", required = true, Name = $"TELEFONOS[{i}].TELEFONO" })
                        </div>
                    }
                }
                else
                {
                    <p>No hay teléfonos registrados.</p>
                }
            </div>
            <!-- CODIGO ROL-->

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Rol actual")
                        @Html.TextBoxFor(m => m.NOMBREROL, new { @class = "form-control", @readonly = "true", @style = "text-align:center;" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Roles disponibles")
                        @Html.DropDownListFor(m => m.IDROL, new SelectList(ViewBag.RolesList, "Value", "Text"), new { @class = "form-control", @style = "text-align:center;" })
                    </div>
                </div>

            </div>

            <!-- Codigo DIRECCION -->
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-4">
                        @Html.Label("Direccion")
                        @Html.TextAreaFor(m => m.DIRRECION, new { @class = "form-control", @style = "text-align:center;", required = true })
                    </div>
                </div>
            </div>

            <!-- BOTTON ACTUALIZAR-->
            <div style="display:grid; place-items:center;">
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary toastBtn" id="submitButton">Actualizar usuario</button>
                </div>
            </div>

        }
        <!-- Botón para cambiar el estado del cliente -->
        @using (Html.BeginForm("CambiarEstadoUsuarioVista", "Usuarios", new { IdEmpleado = Model.ID_EMPLEADO }, FormMethod.Post))
        {
            <div class="mt-4" style="text-align:center;">
                <button type="submit" class="btn btn-secondary">
                    Cambiar Estado a @(Model.ESTADO == "Activo" ? "Inactivo" : "Activo")
                </button>
            </div>
        }
    </div>
</div>
<script src="~/js/validacionesnumeros.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="~/js/toastshow.js"></script>