<!--Se declara la entidad del Modelo-->
@model PROINSA_GP_WEB.Entidad.Empleado
@{
    ViewBag.Title = "MiCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Perfil /</span> Mi cuenta</h4>
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Detalles del perfil</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="../assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Subir nueva foto</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                                </label>
                                <p class="text-muted mb-0">Permitido los siguientes formatos JPG, GIF or PNG. hasta un máximo de 1MB</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <!-- Se utiliza Razor para almacenar la información de una forma más sencilla -->
                        @using (Html.BeginForm("MiCuenta", "Usuarios", FormMethod.Post)){
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    @Html.Label("Nombre del usuario")
                                    @Html.TextBoxFor(m => m.NOMBRECOMPLETO, new { @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-4">
                                    @Html.Label("Correo Electrónico")
                                    @Html.TextBoxFor(m => m.CORREO, new { @class = "form-control", @readonly = "true" })
                                </div>
                                <div class="mb-3 col-md-4">
                                    @Html.Label("Puesto")
                                    @Html.TextBoxFor(m => m.NOMBRE_CARGO, new { @class = "form-control", @readonly = "true" })
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="phoneNumber">Número de teléfono</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">CRC (+506)</span>
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                                               placeholder="2025 5501" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <label for="state" class="form-label">Dirección exacta</label>
                                    <input class="form-control" type="text" id="state" name="state" placeholder="La Uruca" />
                                </div>
                            </div>
                            <div class="mt-2" style="display:grid; place-items:center;">
                                <button type="submit" class="btn btn-primary mb-4">Save changes</button>
                                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                            </div>
                        }
                    </div>
                    <!-- /Account -->
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>