@model PROINSA_GP_WEB.Entidad.Solicitud

@{
    ViewBag.Title = "RegistrarSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Desarrollo personal / Solicitudes / Crear una solicitud / </span> Registrar permiso </h4>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="card mb-4">
                <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Datos para la gestión del permiso:</h5>
                <div class="card-body">
                    @using (Html.BeginForm("RegistrarSolicitud", "Solicitudes", FormMethod.Post))
                    {
                        <div class="col-md-4">
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.SOLICITANTE_ID, new { @class = "form-control", @hidden = "true" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                @Html.Label("Tipo de Permiso:")
                                @Html.DropDownListFor(m => m.TIPOSOLICITUD_ID, new SelectList(ViewBag.TipoSolicitudList, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    @Html.Label("Fecha Inicio:")
                                    @Html.TextBoxFor(m => m.FECHA_INICIO, new { @class = "form-control", @type = "date" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    @Html.Label("Fecha Final:")
                                    @Html.TextBoxFor(m => m.FECHA_FINAL, new { @class = "form-control", @type = "date" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    @Html.Label("Comentario:")
                                    @Html.TextAreaFor(m => m.COMENTARIO, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    @Html.Label("Detalle:")
                                    @Html.TextAreaFor(m => m.DETALLE, new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <div style="display:grid; place-items:center;">
                            <button class="btn btn-primary mt-4" id="ejemplo" style="width:300px" type="submit">Registrar</button>
                        </div>
                    }
                    <div class="modal fade" id="ejemplo">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Solicitud enviada con exito!</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    Se le notificara al administrador. Esté antento al buzon de notificaciones!
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
