@model PROINSA_GP_WEB.Entidad.Solicitud

@{
    ViewBag.Title = "RegistrarSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idUsuario = ViewContext.HttpContext.Session.GetString("idusuario");
}



<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Desarrollo personal / Solicitudes / Crear una solicitud / </span> Vacaciones </h4>

<div class="card mb-4">


<div class="container">
     @using (Html.BeginForm("RegistrarSolicitud", "Solicitudes", FormMethod.Post)){
        <div class="col-12">
            <label class="form-label h2">Completar la siguiente informacion:</label>
        </div>


        @Html.TextBoxFor(m => m.SOLICITANTE_ID, new { @class = "form-control", @type = "hidden", @value = idUsuario })
        
        <div class="col-12">
                @Html.Label("Fecha Inicio:")
                @Html.TextBoxFor(m => m.FECHA_INICIO, new { @class = "form-control", @type = "date" })
        </div>
        <div class="col-12">
                @Html.Label("Fecha Final:")
                @Html.TextBoxFor(m => m.FECHA_FINAL, new { @class = "form-control", @type = "date" })
           
        </div>

            <div class="col-12">
                @Html.Label("Comentario:")
                @Html.TextAreaFor(m => m.COMENTARIO, new { @class = "form-control" })

            </div>

            <div class="col-12">
                @Html.Label("Detalle:")
                @Html.TextAreaFor(m => m.DETALLE, new { @class = "form-control" })

            </div>

        <div class="col-3">
                <button class="btn btn-primary" type="submit">Registrar</button>
        </div>

        }

    <div class="modal fade" id="ejemplo">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Solicitud enviada con exito!</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Se le notificara al administrador. Esté antento al buzon de notificaciones!
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
</div>

</div>