@model PROINSA_GP_WEB.Entidad.Actividad
@{
    ViewBag.Title = "AsignacionProyectoEmpleaado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Actividades / </span> Asignacion de Proyecto </h4>

<div class="card mb-4">
    <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Seleccione el proyecto y el empleado para asignar </h5>
    <div class="card-body">
        @if (ViewBag.msj != null)
        {
            <div class="alert alert-secondary" style="text-align:center" role="alert">
                @ViewBag.msj
            </div>
        }
        @using (Html.BeginForm("AsignacionProyectoEmpleaado", "Actividades", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Proyecto:")
                        @Html.DropDownListFor(m => m.PROYECTO_ID, new SelectList(ViewBag.ProyectoList, "Value", "Text"), "Selecciona un proyecto.." , new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Empleados")
                        @Html.DropDownListFor(m => m.EMPLEADO_ID, new SelectList(ViewBag.EmpleadoList, "Value", "Text"), "Selecciona un empleado..", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div style="display:grid; place-items:center;">
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Asignar Proyecto </button>
                </div>
            </div>


        }
    </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

