@model PROINSA_GP_WEB.Entidad.Actividad
@{
    ViewBag.Title = "EditarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Actividades / </span> Ingreso Clientes</h4>

<div class="card mb-4">
    <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Ingresar un nuevo cliente </h5>
    <div class="card-body">
        @if (ViewBag.msj != null)
        {
            <div class="alert alert-secondary" style="text-align:center" role="alert">
                @ViewBag.msj
            </div>
        }
        @using (Html.BeginForm("EditarCliente", "Actividades", FormMethod.Post))
        {
            <div class="row">
                @Html.HiddenFor(m => m.ID_CLIENTE)
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Nombre")
                        @Html.TextBoxFor(m => m.NOMBRE, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Estado")
                        @Html.TextBoxFor(m => m.ESTADO, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Pais")
                        @Html.TextBoxFor(m => m.PAIS, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Sector")
                        @Html.TextBoxFor(m => m.SECTOR, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="mb-4">
                        @Html.Label("Detalle")
                        @Html.TextAreaFor(m => m.DETALLE, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            

            <div style="display:grid; place-items:center;">
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Actualizar Cliente </button>
                </div>
            </div>
        }
        <!-- Botón para cambiar el estado del cliente -->
        @using (Html.BeginForm("CambiarEstadoCliente", "Actividades", new { IdCLIENTE = Model.ID_CLIENTE }, FormMethod.Post))
        {
            <div class="mt-4" style="text-align:center;">
                <button type="submit" class="btn btn-secondary">
                    Cambiar Estado a @(Model.ESTADO == "Activo" ? "Inactivo" : "Activo")
                </button>
            </div>
        }
    </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

