@model List<PROINSA_GP_WEB.Entidad.Actividad>
@{
    ViewBag.Title = "HistorialActividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Actividades / </span> Clientes </h4>

<div class="card-body">
    <div class="card">
        <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Actividades registrada:</h5>
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 m-4">
            <div class="item">
                <div class="tab-content">
                    <div class="tab-pane show active" id="striped-items-preview">
                        @if (Model != null && Model.Any())
                        {
                            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                <table id="dataTable" class="table table-bordered table-striped dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                                    <thead>
                                        <tr>

                                            <th>ID</th>
                                            <th>Total Horas</th>
                                            <th>Fecha inicio</th>
                                            <th>Fecha Final</th>
                                            <th>Proyecto</th>
                                            <th>Empleado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        @foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>
                                                    @item.ID_REGISTROACTIVIDAD
                                                </td>
                                                <td>
                                                    @item.TOTALHORAS
                                                </td>
                                                <td>
                                                    @item.FECHA_INICIO
                                                </td>
                                                <td>
                                                    @item.FECHA_FINAL
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(modelItem => @item.PROYECTO_ID)
                                                    @item.NOMBRE_PROYECTO
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(modelItem => @item.EMPLEADO_ID)
                                                    @item.NOMBRE_EMPLEADO
                                                </td>
                                                <td style="text-align:center;">
                                                    <a class="btn btn-primary" asp-action="EditarActividades" asp-route-Id_REGISTROACTIVIDAD="@item.ID_REGISTROACTIVIDAD" name="Id_REGISTROACTIVIDAD" id="Id_REGISTROACTIVIDAD">Editar <i class="bi bi-pen"></i></a>
                                                    @if (item.ESTADO != "Activo")
                                                    {
                                                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalActividad_@item.ID_REGISTROACTIVIDAD" asp-action="CambiarEstadoListaActividad" asp-route-Id="@item.ID_REGISTROACTIVIDAD">Activar</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalActividad_@item.ID_REGISTROACTIVIDAD" asp-action="CambiarEstadoListaActividad" asp-route-Id="@item.ID_REGISTROACTIVIDAD">Desactivar</a>
                                                    }
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modalActividad_@item.ID_REGISTROACTIVIDAD" tabindex="-1" aria-labelledby="modalActividadLabel_@item.ID_REGISTROACTIVIDAD" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="modalActividadLabel">Estado Actividad</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h6>¿Desea cambiar el estado de la actividad?</h6>
                                                                    @using (Html.BeginForm("CambiarEstadoListaActividad", "Actividades", FormMethod.Post))
                                                                    {
                                                                        <div class="form-group mb-3">
                                                                            <input type="hidden" name="Id_REGISTROACTIVIDAD" id="Id_REGISTROACTIVIDAD" value="@item.ID_REGISTROACTIVIDAD" />
                                                                            <label>ID del registro:</label>
                                                                            <span>@item.ID_REGISTROACTIVIDAD</span>
                                                                        </div>

                                                                        <div class="modal-footer d-flex toastBtn justify-content-center">
                                                                            <input type="submit" value="Confirmar" id="submitButton" class="btn btn-danger" />
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <p class="m-4">No hay proyectos registrados aún</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/datatable.js"></script>
<script src="~/js/toastshow.js"></script>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="bs-toast toast fade hide bg-success" id="btnActualizaMante" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bi bi-bell me-3"></i>
            <div class="me-auto fw-semibold">Notificación</div>
            <small>Hace un segundo</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Se registró la información correctamente.
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const showToastId = localStorage.getItem('showToastId');
        if (showToastId) {
            const toastElement = document.getElementById(showToastId);
            if (toastElement) {
                const toast = new bootstrap.Toast(toastElement);
                toast.show();
            }
            localStorage.removeItem('showToastId');
        }
    });
</script>