@model PROINSA_GP_WEB.Entidad.Actividad
@{
    ViewBag.Title = "RegistroActividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Actividades / </span> Registro Actividad </h4>

<div class="card mb-4">
    <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Ingresar una nueva actividad </h5>
    <div class="card-body">
        @if (ViewBag.msj != null)
        {
            <div class="alert alert-secondary" style="text-align:center" role="alert">
                @ViewBag.msj
            </div>
        }
        @using (Html.BeginForm("RegistroActividades", "Actividades", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.EMPLEADO_ID)
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Proyecto")
                        @Html.DropDownListFor(m => m.PROYECTO_ID, new SelectList(ViewBag.proyectoEMList, "Value", "Text"), "Selecciona un proyecto..", new { @class = "form-control", @style = "text-align:center;" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Total horas")
                        @Html.TextBoxFor(m => m.TOTALHORAS, new { @class = "form-control", onkeypress = "return ValidarNumeros(event)", @required = "True", @style = "text-align:center;" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Fecha Inicio")
                        @Html.TextBoxFor(m => m.FECHA_INICIO, new { @class = "form-control", @type = "date", @required = "True", @style = "text-align:center;", @id = "fechaInicioPicker" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Fecha Final")
                        @Html.TextBoxFor(m => m.FECHA_FIN, new { @class = "form-control", @type = "date", @required = "True", @style = "text-align:center;", @id = "fechaFinPicker" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="mb-4">
                        @Html.Label("Detalle")
                        @Html.TextAreaFor(m => m.DETALLE, new { @class = "form-control", @style = "text-align:center;" })
                    </div>
                </div>

            </div>

            <div style="display:grid; place-items:center;">
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary toastBtn" id="submitButton">Registrar Actividad </button>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/js/validacionesnumeros.js"></script>
<script src="~/js/toastshow.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var today = new Date();
        var maxDate = new Date();
        maxDate.setMonth(maxDate.getMonth() + 3); // Fecha máxima (3 meses en el futuro)

        // Formatear las fechas en el formato yyyy-mm-dd
        var formattedToday = today.toISOString().split('T')[0];
        var formattedMaxDate = maxDate.toISOString().split('T')[0];

        // Obtener los elementos de los inputs de fecha
        var fechaInicioPicker = document.getElementById('fechaInicioPicker');
        var fechaFinPicker = document.getElementById('fechaFinPicker');

        // Establecer el atributo min y max para fecha de inicio
        if (fechaInicioPicker) {
            fechaInicioPicker.setAttribute('min', formattedToday); // Incluye el día de ayer
            fechaInicioPicker.setAttribute('max', formattedMaxDate); // Máximo 3 meses en el futuro
        }

        // Establecer el atributo min y max para fecha de fin
        if (fechaFinPicker) {
            fechaFinPicker.setAttribute('min', formattedToday); // Incluye el día de ayer
            fechaFinPicker.setAttribute('max', formattedMaxDate); // Máximo 3 meses en el futuro
        }
    });
</script>
