@model List<PROINSA_GP_WEB.Entidad.Nomina>
@{
    ViewBag.Title = "ObtenerNominaMensualEmpleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administrativo / Nómina /</span> Obtener Nómina empleados</h4>

<div class="card-body">
    <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Salario de los empleados:</h5>
    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="item">
            <div class="tab-content">
                <div class="tab-pane show active" id="striped-items-preview">
                    <div class="table-responsive-sm">
                        @if (Model != null && Model.Any())
                        {
                            <table id="dataTable" class="table table-bordered dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                                <thead>
                                    <tr>
                                        <th>IDENTIFICACION</th>
                                        <th>EMPLEADO</th>
                                        <th>NOMINA</th>
                                        <th>FECHA_PAGO</th>
                                        <th>CARGO</th>
                                        <th>SALARIO</th>
                                        <th>REGISTRAR INGRESOS</th>
                                        <th>REGISTRAR DEDUCCIONES</th>
                                        <th>VER DETALLE</th>
                                    </tr>
                                </thead>
                                <tbody class="align_dataTable_text">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.IDENTIFICACION</td>
                                            <td>@item.EMPLEADO</td>
                                            <td>@item.NOMINA</td>
                                            <td>@item.FECHA_PAGO</td>
                                            <td>@item.CARGO</td>
                                            <td>@item.SALARIO</td>
                                            <td>
                                                <a href="@Url.Action("RegistrarIngresos","Nominas", new{ q = item.ID_EMPLEADO})" class="btn btn-primary">Agregar ingresos</a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("RegistrarDeduccion","Nominas", new{ q = item.ID_EMPLEADO})" class="btn btn-primary">Agregar deducciones</a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ObtenerNominaEmpleado","Nominas")" class="btn btn-primary">Detalle</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No hay nóminas disponibles para mostrar.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/datatable.js"></script>