<!-- Acá hay que crear un ViewModel para poder jugar con las 3 clases -->
@model PROINSA_GP_WEB.Entidad.NominaViewModel
@{
    ViewBag.Title = "ObtenerNominaEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administrativo / Nómina /</span> Obtener Nómina empleado</h4>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="card mb-4">
                <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Detalle de nómina Empleado:</h5>
                <div class="card-body" style="min-height: 400px;">
                    <!-- Acá va el empleado ID -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                @Html.Label("Nombre del empleado:")
                                @Html.TextBoxFor(m => m.NOMBRE_EMPLEADO, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                @Html.Label("Fecha:")
                                @Html.TextBoxFor(m => m.FECHA_NOMINA, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <p class="demo-inline-spacing" style="text-align:center;">
                        <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#detalleNomina" role="button"
                           aria-expanded="false" aria-controls="detalleNomina">
                            Presione para ver el detalle de la nómina
                        </a>
                        <a class="btn btn-primary me-1" href="@Url.Action("ObtenerNominaMensualEmpleados","Nominas")" role="button" aria-expanded="false" aria-controls="detalleNomina">
                            Regresar
                        </a>
                    </p>
                    <div class="card-body">
                        <div class="collapse" id="detalleNomina">
                            <div class="d-grid d-sm-flex p-3 border">
                                <div class="card-body">
                                    <h5 class="card-header text-uppercase text-danger">Detalle:</h5>
                                    <div id="dataTable2_wrapper" class="dataTable2s_wrapper dt-bootstrap4" style="max-height: 400px; overflow-y: auto;">
                                        <div class="item">
                                            <div class="tab-content">
                                                <div class="tab-pane show active" id="striped-items-preview">
                                                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                                        <table id="dataTable" class="table table-bordered table-striped dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                                                            <thead>
                                                                <tr>
                                                                    <th>TIPO</th>
                                                                    <th>NOMBRE</th>
                                                                    <th>DETALLE</th>
                                                                    <th>CANTIDAD</th>
                                                                    <th>MONTO</th>
                                                                    <th>ACCIONES</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="align_dataTable2_text">
                                                                @foreach (var item in Model.DetalleNomina!)
                                                                {
                                                                    <tr>
                                                                        <td>@item.TIPO</td>
                                                                        <td>@item.NOMBRE_TIPO</td>
                                                                        <td>@item.DETALLE</td>
                                                                        @if (item.CANTIDAD != 0)
                                                                        {
                                                                            <td>@item.CANTIDAD</td>
                                                                        }else{
                                                                            <td>N/A</td>
                                                                        }                                                                        
                                                                        <td>@item.MONTO</td>
                                                                        @if (item.NOMBRE_TIPO == "INGRESO")
                                                                        {
                                                                            if (item.TIPO == "CCSS" || item.TIPO == "Salario")
                                                                            {
                                                                                <td><p>No aplica</p></td>
                                                                            }else{
                                                                                <td style="text-align:center;">
                                                                                    <a href="@Url.Action("ActualizarIngreso", "Nominas", new { q = item.CONSECUTIVO })" class="btn btn-primary m-2">
                                                                                        <i class="bi bi-pencil-square"></i>
                                                                                    </a>
                                                                                    <a href="@Url.Action("EliminarIngreso", "Nominas", new { q = item.CONSECUTIVO })" class="btn btn-primary">
                                                                                        <i class="bi bi-trash3"></i>
                                                                                    </a>
                                                                                </td>
                                                                            }
                                                                        }
                                                                        else if (item.NOMBRE_TIPO == "DEDUCCION")
                                                                        {
                                                                            if (item.TIPO == "CCSS" || item.TIPO == "Salario")
                                                                            {
                                                                                <td><p>No aplica</p></td>
                                                                            }else{
                                                                                <td style="text-align:center;">
                                                                                    <a href="@Url.Action("ActualizarDeduccion", "Nominas", new { q = item.CONSECUTIVO })" class="btn btn-primary m-2">
                                                                                        <i class="bi bi-pencil-square"></i>
                                                                                    </a>
                                                                                    <a href="@Url.Action("EliminarDeduccion", "Nominas", new { q = item.CONSECUTIVO })" class="btn btn-primary">
                                                                                        <i class="bi bi-trash3"></i>
                                                                                    </a>
                                                                                </td>
                                                                            }
                                                                        }                                                                        
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/datatable.js"></script>