@model PROINSA_GP_WEB.Entidad.Nomina
@{
    ViewBag.Title = "RegistrarNomina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administrativo / Nómina /</span> Registrar Nómina</h4>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="card mb-4">
                <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Registrar datos de la nómina de este mes:</h5>
                <div class="card-body">
                    @using (Html.BeginForm("RegistrarNomina", "Nomina", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.CreadorID)
                        <div class="col-md-12">
                            <div class="mb-3">
                                @Html.Label("Tipo de nómina:")
                                @Html.TextBoxFor(m => m.ID_TIPONOMINA, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    @Html.Label("Observaciones:")
                                    @Html.TextAreaFor(m => m.OBSERVACIONES, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    @Html.Label("Descripción:")
                                    @Html.TextAreaFor(m => m.DESCRIPCION, new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <div style="display:grid; place-items:center;">
                            <button class="btn btn-primary mt-4 toastBtn" style="width:300px" type="submit" data-toast-id="btnCambioHorario">Registrar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>