@{
    ViewBag.Title = "DownloadReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Reportes / </span> Descargar reportes </h4>

@* Idea para los tabs
    <div class="tabsNav">

    <div class="tab">

        <input type="radio" name="tabs" id="t1" checked>

        <label for="t1">Reporte 1</label>

        <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Identificacion del usuario")
                        @Html.TextBoxFor(m => m.IDENTIFICACION, new { @class = "form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("ID empleado")
                        @Html.TextBoxFor(m => m.ID_EMPLEADO, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Nombre del usuario")
                        @Html.TextBoxFor(m => m.NOMBRECOMPLETO, new { @class = "form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Salario")
                        @Html.TextBoxFor(m => m.SALARIO, new { @class = "form-control" })
                    </div>
                </div>
            </div>

    </div>

    <div class="tab">

        <input type="radio" name="tabs" id="t2">

        <label for="t2">Reporte 2</label>

        <div>Ficha 2: Contenido para la ficha 2.</div>

    </div>

    <div class="tab">

        <input type="radio" name="tabs" id="t3">

        <label for="t3">Reporte 3</label>

        <div>Ficha 3: Contenido para la ficha 3</div>

    </div>
</div> *@

@* VISTA ACTUAL 
 *@
<div class="table-responsive text-nowrap">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Reporte</th>
                <th>Acciones</th>
                <th>Descargar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Reporte de Empleados</td>
                <td>
                    <button type="submit" name="reportName" value="ReporteProyectos" class="btn btn-primary">Previsualizar</button>
                    @*                     <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_@item.ID_EMPLEADO" asp-action="ReporteProyectos" asp-route-Id="@item.ID_EMPLEADO">Previsualizar</a> HAY QUE AGREGAR EL ID DEL EMPLEADO
                    *@
                    <!-- Modal -->

                </td>
                <td>
                    <form asp-controller="Report" asp-action="DownloadReportPdf" method="get" style="display:inline;">
                        <button type="submit" name="reportName" value="ReporteEmpleados" class="btn btn-primary">PDF</button>
                    </form>
                    <form asp-controller="Report" asp-action="DownloadReportExcel" method="get" style="display:inline;">
                        <button type="submit" name="reportName" value="ReporteEmpleados" class="btn btn-success">Excel</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Reporte de Proyectos</td>
                <td>
                    <button type="submit" name="reportName" value="ReporteProyectos" class="btn btn-primary">Previsualizar</button>
                    @*                     <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalUsuario_@item.ID_EMPLEADO" asp-action="ReporteProyectos" asp-route-Id="@item.ID_EMPLEADO">Previsualizar</a> HAY QUE AGREGAR EL ID DEL EMPLEADO
                    *@
                    <!-- Modal -->

                </td>
                <td>
                    <form asp-controller="Report" asp-action="DownloadReportPdf" method="get" style="display:inline;">
                        <button type="submit" name="reportName" value="ReporteProyectos" class="btn btn-primary">PDF</button>
                    </form>
                    <form asp-controller="Report" asp-action="DownloadReportExcel" method="get" style="display:inline;">
                        <button type="submit" name="reportName" value="ReporteProyectos" class="btn btn-success">Excel</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>