@model PROINSA_GP_WEB.Entidad.ConsultarDocumentosViewModel
@{
    ViewBag.Title = "ConsultarDocumentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administrativo / Documentos / </span> Gestionar Documentos </h4>

<div class="card-body">
    <h5 class="card-header" style="color: #DD3333; text-transform:uppercase;">Historial de documentos:</h5>
    <div class="row">
            @using (Html.BeginForm("ConsultarDocumentos", "Documentos", FormMethod.Post))
            {
            <div class="row">
                <div class="col-md-8 col-sm-12 mb-2">
                    @Html.DropDownListFor(m => m.EMPLEADO_ID, Model.Empleados, "Por favor, elija el empleado", new { @class = "form-control", @id = "empleadoDropdown", @style = "text-align:center;", @required = "true" })
                </div>
                <div class="col-md-4 col-sm-12">
                    <button type="submit" class="btn btn-primary col-12">Aplicar</button>
                </div>
            </div>
        }
    </div>
    @if (Model.Documentos != null && Model.Documentos.Any())
    {
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 mt-4">
            <div class="item">
                <div class="tab-content">
                    <div class="tab-pane show active" id="striped-items-preview">
                        <div class="table-responsive-sm">
                            <table id="dataTable" class="table table-bordered dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                                <thead>
                                    <tr>
                                        <th>TIPO DE DOCUMENTO</th>
                                        <th>NOMBRE DEL DOCUMENTO</th>
                                        <th>COMENTARIO</th>
                                        <th>ELIMINAR</th>
                                        <th>ACTUALIZAR</th>
                                        <th>DESCARGAR</th>
                                    </tr>
                                </thead>
                                <tbody class="align_dataTable_text">
                                    @foreach (var item in Model.Documentos)
                                    {
                                        <tr>
                                            <td>@item.NOMBRE_TIPODOCUMENTO</td>
                                            <td>@item.NOMBRE_DOCUMENTO</td>
                                            <td>@item.COMENTARIO</td>
                                            <td>
                                                <a href="@Url.Action("EliminarDocumento", "Documentos", new { q = item.ID_EMPLEADODOCUMENTO })" class="btn btn-primary">Eliminar</a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ActualizarDocumento", "Documentos", new { q = item.ID_EMPLEADODOCUMENTO })" class="btn btn-primary">Actualizar</a>
                                            </td>
                                            <td>
                                                <a href="@item.VER_DOCUMENTO" class="btn btn-primary" download>Descargar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning mt-4" role="alert">
            No hay documentos disponibles para este empleado.
        </div>
    }
</div>
<script src="~/js/datatable.js"></script>
<script>
    document.getElementById('empleadoDropdown').addEventListener('change', function () {
        var empleadoId = this.value;
        var aplicarBtn = document.getElementById('aplicarBtn');
        
        if (empleadoId) {
            aplicarBtn.href = '@Url.Action("ConsultarDocumentos", "Documentos")' + '?EMPLEADO_ID=' + empleadoId;
        } else {            
            aplicarBtn.href = '#'; 
        }
    });
</script>

