@{
    ViewBag.Title = "DownloadReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Reportes / </span> Descargar reportes </h4>

@* Idea para los tabs
    <div class="tabsNav">

    <div class="tab">

        <input type="radio" name="tabs" id="t1" checked>

        <label for="t1">Reporte 1</label>

        <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Identificacion del usuario")
                        @Html.TextBoxFor(m => m.IDENTIFICACION, new { @class = "form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("ID empleado")
                        @Html.TextBoxFor(m => m.ID_EMPLEADO, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Nombre del usuario")
                        @Html.TextBoxFor(m => m.NOMBRECOMPLETO, new { @class = "form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        @Html.Label("Salario")
                        @Html.TextBoxFor(m => m.SALARIO, new { @class = "form-control" })
                    </div>
                </div>
            </div>

    </div>

    <div class="tab">

        <input type="radio" name="tabs" id="t2">

        <label for="t2">Reporte 2</label>

        <div>Ficha 2: Contenido para la ficha 2.</div>

    </div>

    <div class="tab">

        <input type="radio" name="tabs" id="t3">

        <label for="t3">Reporte 3</label>

        <div>Ficha 3: Contenido para la ficha 3</div>

    </div>
</div> *@


<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>